#usage example: Publish-Module -Path BuildOutput/infisical/0.1.0 -NuGetApiKey $env:NUGET_API_KEY
NUGET_API_KEY=somethinglike_6arai6wi2rgzepnx6shcc24x2ka

INFISICAL_MACHINE_IDENTITY_CLIENT_ID=
INFISICAL_MACHINE_IDENTITY_CLIENT_ID=
INFISICAL_MACHINE_IDENTITY_CLIENT_SECRET=
INFISICAL_PROJECT_ID=
INFISICAL_HOST_URI=
INFISICAL_USER_ID=

LDAP_IDENTITY_ID=
LDAP_USERNAME=
LDAP_PASSWORD=